
<script src="/js/Jquery3.6/jquery3.6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="/js/bootstrap4.5/bootstrap.min.js"></script>
</body>

</html>