<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Perguntas e Resposta</title>
    <link rel="stylesheet" href="/css/bootstrap4.5/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-light bg-primary">
        <a href="/" class="navbar-brand">
            <img src="/img/PodePerguntar.png">
            <span>Pode Perguntar</span>
        </a>
    </nav>